<iframe
  class="absolute w-full h-full"
  src="https://www.youtube.com/embed/2r06n_qjIj0?autoplay=1&mute=1&loop=1&controls=0"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>
<div class="h-screen bg-white">
  <div
    class="pt-[10%] px-24 absolute text-white bg-gradient-to-r from-black h-full"
  >
    <h1 class="text-6xl font-bold">Chennai Express</h1>
    <p class="flex-wrap inline-block w-1/4 py-6 text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
      doloremque, possimus ut architecto officia autem porro corporis, ipsam
      facilis ex eaque dolore itaque. Nesciunt necessitatibus expedita
      repudiandae accusantium perspiciatis, voluptate pariatur nisi nemo magnam
      impedit modi, a fugit placeat voluptatem tempore est unde. Amet voluptas
      quidem necessitatibus magni nobis quam!
    </p>
    <div>
      <button
        class="px-12 py-4 text-xl text-black bg-white rounded-lg hover:bg-opacity-70 transition-[1s]"
      >
        <i class="fa-solid fa-play" style="color: #19191a"></i> Play
      </button>
      <button
        class="px-12 py-4 mx-2 text-xl text-white bg-gray-500 bg-opacity-50 rounded-lg"
      >
        More Info
      </button>
    </div>
  </div>
</div>
