<div class="container">
  <div class="login-form">
    <div class="sign-in">
      <p class="sign-in__text">Sign in</p>
    </div>
    <div class="input-boxes">
      <input class="input-box__email" type="text" placeholder="Email" />
      <input
        class="input-box__password"
        type="password"
        placeholder="Password"
      />
      <button class="sign-in-button" type="submit">Sign in</button>
    </div>
    <div class="or-div">
      <p>OR</p>
    </div>
    <div class="google-btn-div">
      <div class="google-btn" id="google-btn"></div>
    </div>
    <div class="forgot-password-div">
      <a href="">Forgot password?</a>
    </div>
    <div class="new-to-netflix-div">
      <p class="new-to-netflix__text">
        New to Netflix? <span class="sign-up-now">Sign up now</span>
      </p>
    </div>

    <small class="disclaimer">
      This page is protected by Google reCAPTCHIA to ensure you are not a bog
    </small>
  </div>
</div>
