<app-header></app-header>
<!-- component -->
<div class="flex items-center justify-center w-full h-screen">
  <div class="max-w-xs">
    <div class="py-3 bg-white rounded-lg shadow-xl">
      <div class="p-2 photo-wrapper">
        <img
          class="mx-auto rounded-full w-30 h-30"
          src="{{ picture }}"
          alt="{{ name }}"
        />
      </div>
      <div class="p-2">
        <h3 class="text-xl font-medium leading-8 text-center text-gray-900">
          {{ name }}
        </h3>
        <div class="text-xs font-semibold text-center text-gray-400">
          <p>Web Developer</p>
        </div>
        <table class="my-3 text-xs">
          <tbody>
            <tr>
              <td class="px-2 py-2 font-semibold text-gray-500">Address</td>
              <td class="px-2 py-2">Chatakpur-3, Dhangadhi Kailali</td>
            </tr>
            <tr>
              <td class="px-2 py-2 font-semibold text-gray-500">Phone</td>
              <td class="px-2 py-2">+977 9955221114</td>
            </tr>
            <tr>
              <td class="px-2 py-2 font-semibold text-gray-500">Email</td>
              <td class="px-2 py-2">{{ email }}</td>
            </tr>
          </tbody>
        </table>

        <div class="my-3 text-center">
          <a
            (click)="signOut()"
            class="text-xs font-medium text-indigo-500 cursor-pointer hover:underline hover:text-indigo-600"
            href="#"
            >Sign Out</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
